<section class="site-title">
    <div class="site-background" data-aos="fade-up" data-aos-delay="100">
        <h3>Libuno - Your Guide to Learning!</h3>
        <h1>All Authors</h1>
    </div>
</section>
