<section class="site-title">
    <div class="site-background" data-aos="fade-up" data-aos-delay="100">
        <h3>Libuno - Your Guide to Learning!</h3>
        <h1>WONDERFUL WORLD OF READING</h1>
        <form action="/authors/add" method="POST">
            <div class="form-element">
                <input
                    type="text"
                    name="name"
                    class="author-text"
                    placeholder="Feed Author Name"
                />
            </div>
            <button type="submit" class="btn">Add Author</button>
        </form>
    </div>
</section>
