<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Booker&Tales</title>
        <base href="https://booker-tales.herokuapp.com/" />
        <!-- <base href="http://localhost:3000/" /> -->
        <!-- Font Awesome Icons http://localhost:3000/ -->
        <link rel="stylesheet" href="./css/all.css" />
        <!-- --------- Owl-Carousel ------------------->
        <link rel="stylesheet" href="./css/owl.carousel.min.css" />
        <link rel="stylesheet" href="./css/owl.theme.default.min.css" />

        <!-- ------------ AOS Library ------------------------- -->
        <link rel="stylesheet" href="./css/aos.css" />

        <!-- Custom Style   -->
        <link rel="stylesheet" href="./css/Style.css" />
        <link
            href="https://unpkg.com/filepond/dist/filepond.css"
            rel="stylesheet"
        />
        <link
            href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
            rel="stylesheet"
        />
        <script
            defer
            src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"
        ></script>
        <script
            defer
            src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"
        ></script>
        <script
            defer
            src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"
        ></script>
        <script
            defer
            src="https://unpkg.com/filepond/dist/filepond.js"
        ></script>
        <script defer src="/js/fileUpload.js"></script>
    </head>

    <body>
        <%- include('../partials/header.ejs') %>
        <main>
            <%- body %>
        </main>
        <%- include('../partials/footer.ejs') %>

        <!-- Jquery Library file -->
        <script src="./js/Jquery3.4.1.min.js"></script>

        <!-- --------- Owl-Carousel js ------------------->
        <script src="./js/owl.carousel.min.js"></script>

        <!-- ------------ AOS js Library  ------------------------- -->
        <script src="./js/aos.js"></script>

        <!-- Custom Javascript file -->
        <script src="./js/main.js"></script>
    </body>
</html>
